@import "./Variables.css";

#main-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(calc(100% - 2rem), 90rem);
    margin-inline: auto;
}

#main-page-body > * {
    width: 100%;
}

#navbar-top {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;
    width: 100%;
    justify-content: center;
}

#navbar-top-logo {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: center;
}

#navbar-top-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 2.5rem;
}

#navbar-top-login img {
    width: 2rem;
}

#navbar-top-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 2.5rem;
}

#navbar-top-profile img {
    width: 2rem;
}

#navbar-top-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    width: 2.5rem;
}

#navbar-top-cart img {
    width: 2rem;
}

#navbar-top-searchbar {
    display: grid;
    align-items: center;
    background-color: var(--darkBlue);
    border-radius: 0.8rem;
    padding: 0.2rem;
    width: 29rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    flex: 1;
    max-width: 50rem;
}

#navbar-top-searchbar-input,
.navbar-top-searchbar-clear,
.navbar-top-searchbar-clear.hidden {
    grid-area: 1 / 1;
}

#navbar-top-searchbar-input {
    padding: 1rem;
    border: none;
    border-radius: 0.6rem;
    outline: none;
}

.navbar-top-searchbar-clear {
    justify-self: end;
    align-self: center;
    margin-right: 0.6rem;
    z-index: 1;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1.2rem;
    color: var(--black);
}

#navbar-bottom {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

#navbar-bottom button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: 800;
}

.navbar-top-searchbar-clear.hidden {
    display: none;
}

#noteworthy-sales {
    border-top: 0.1rem solid var(--black);
    border-bottom: 0.1rem solid var(--black);
}

footer {
    display: flex;
    flex-direction: row;
}

.footer-column {
    flex: 1;
    display: flex;
    justify-content: center;
}

.footer-column-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column-content a {
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 0.2rem;
}